export MINIO_ACCESS_KEY=
export MINIO_SECRET_ACCESS_KEY=
export S3_ENDPOINTURL=http://127.0.0.1:9000
export VCAP_SERVICES="{\"aws-s3\": [{\"credentials\": {\"access_key_id\": \"${MINIO_ACCESS_KEY:?missing}\", \"bucket\": \"movie-fun-course\", \"secret_access_key\": \"${MINIO_SECRET_ACCESS_KEY:?missing}\"}, \"label\": \"aws-s3\", \"name\": \"moviefun-s3\"}]}"
export APPLICATION_OAUTH_ENABLED=false
